{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}sallve{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conhecendo a estrutura do Django">
    <meta name="author" content="Weverton">

    {% block css %}
    <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% endblock %}

    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </head>

  <body>

    {% block header %}{% endblock %}
    {% block section %}{% endblock %}
    {% block main %}{% endblock %}
  </body>
</html>
